
<h1>
    Random Play:
</h1>
<div>
Lives:
<% var i; %>
<% for (i = 0; i < vidas; i++) { %>
     <img src="/images/heart.png" width="1%"/>
<% } %>
<% if (!vidas) { %>
      <img src="/images/skull.png" width="1%"/>
<% } %>
<div>
<div>
    Successful answers = <span id="score"><%= score %></span>
</div>

<p>
    The answer <strong> <%= answer %> </strong> is <%= result ? 'right' : 'wrong' %>.
</p>

<p>
    <% if (!result) { %>
         <% if (vidas === 0) { %>
	    You have failed.
	    <a href="/quizzes"> End of Play </a>
	<% } else { %>
          Try again
          <a href="/goback"><button>Try Again</button></a>
        <% } %>
    <% } else { %>
    You have succeeded.
    <a href="/quizzes/randomplay"><button>Continue playing</button></a>
    <% } %>
</p>

